<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error de Búsqueda</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="alert alert-dark" role="alert">
          <h4 class="alert-dark">Error al ingresar al campo</h4>
          <p>Al parecer hubo un error al ingresar aqui, puede que te palteastes o no tienes permisos de administrador</p>
          <hr>
          <p class="mb-lg-1">Por favor, retrosede hacia la anterior pagina.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
